.body {
  font-family: Roboto, Arial;
  position: relative;
}

.nav-wrapper {
  background-color: white;
  z-index: 997;
  border-bottom: 1px solid #e6e6e6;
}

.slider-adjustment {
  position: fixed;
  top: 64px;
  /* as nav bar has height of 64px */
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.whereto-logo {
  width: 175px;
  padding: 10px 0px 0px 30px;
}

.dropdown-content li a {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.dropdown-button {
  color: #7DCED5;
  font-size: 40px;
}

#menu-icon {
  font-size: 40px;
}

.section {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  position: absolute;
  height: 200px;
  text-align: center;
  z-index: 900;
  pointer-events: none;
  width: 70%;
}

.section a {
  pointer-events: auto;
}

.mg-rg {
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 5rem;
}

.section h5 {
  font-family: Roboto, Arial;
}

#find-your-city {
  display: none;
  position: absolute;
  top: 153%;
  margin-bottom: 25%;
}

#compare-cities {
  display: none;
  position: absolute;
  margin-bottom: 25%;
  top: 153%;
}

#heatmap {
	display: none;
	width: 80%;
	position: absolute;
	top: 205%;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 20px;
}
#comparison {
	display: none;
	width: 60%;
	position: absolute;
	top: 205%;
	margin-right: 20%;
	margin-left: 20%;
  margin-bottom: 20px;
}

path:hover {
    fill-opacity: .7;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 45px;
    padding: 10px;
    font: 12px sans-serif;
    background: red;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    display: none;
}

body {
    font: 11px sans-serif;
}

.legend {
	margin-top: 100px;
	overflow: show;
}

#refresh {
	margin-right: 3px;
}
